<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  <link href="{{ '/atom.xml' | relative_url }}" type="application/atom+xml" rel="alternate" title="ATOM Feed">
  <link href="{{ '/rss.xml' | relative_url }}" type="application/rss+xml" rel="alternate" title="RSS Feed">
  <link rel="shortcut icon" type="image/png" href="{{ '/assets/images/favicon.png' | relative_url }}">
  <title>{{ page.title }} :: Aussie Add-ons</title>
</head>
