---
title: Add-ons
layout: page
group: navigation
order: 01
---
{% if site.addons != empty %}
{% for addon in site.addons %}
<div class="media">
  <a href="{{ site.baseurl }}{{ addon.id }}">
    <img class="mr-3" src="{{ site.baseurl }}/assets/images{{ addon.id }}.png" alt="{{ addon.title }}" style="width:100px">
  </a>
  <div class="media-body">
    <a href="{{ site.baseurl }}{{ addon.id }}">
      <h3 class="mt-0">{{ addon.title }}</h3>
	</a>
    {{ addon.description }}
  </div>
</div>
<br />
{% endfor %}
{% endif %}
